/* common */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: Arial, sans-serif;
	transition: all .4s;
}

body {
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	color: #303133;
}

.container {
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
}

img {
	vertical-align: top;
	max-width: 100%;
}

.sub-menu a {
	text-decoration: none;
	color: #303133;
	transition: all 0.3s ease;
}

.bg {
	position: relative;
}

.bg:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	/* background-image: url(../images/accommodation/bg-img.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	z-index: -1;
}


/*INNER*/
.inner {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

/*Logo & Menu*/
header {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.164);
	position: fixed;
	top: 0;
	z-index: 9;
}

header>.inner {
	height: 120px;
}

header .logo {
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50px;
	margin: auto;
	text-decoration-line: none;
}

header .logo img {
	height: 110px;
}

header .sub-menu {
	position: absolute;
	top: 0px;
	right: 0;
	display: flex;
}

header .sub-menu ul.menu {
	display: flex;
}

header .sub-menu ul.menu li {
	position: relative;
}

header .sub-menu ul.menu li::before {
	content: "";
	width: 1px;
	height: 12px;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
	display: none;
}

header .sub-menu ul.menu li a {
	padding: 11px 16px;
	display: block;
	font-size: 13px;
	color: #000;
}

header .sub-menu ul.menu li a:hover {
	color: #fff;
}

/* Search-icon*/
header .sub-menu .search {
	position: relative;
	height: 42px;
	padding-top: 5px;
}

header .sub-menu .search input {
	width: 36px;
	height: 34px;
	padding: 4px 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
	outline: none;
	background-color: #fff;
	color: #777;
	font-size: 12px;
	transition: width .6s;
}

header .sub-menu .search input:focus {
	width: 190px;
	border-color: #669900;
}

header .sub-menu .search .material-icons {
	height: 24px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto;
	transition: .4s;
}

header .sub-menu .search.focused .material-icons {
	opacity: 0;
}

header .main-menu {
	position: absolute;
	bottom: -20px;
	right: 20px;
	display: flex;
}

header .main-menu .item a {
	text-decoration: none;
}

header .main-menu .item .item__name {
	padding: 20px 20px 34px 20px;
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
}

/* Price */
.main .sub-title .text{
    width: 20%;
  }
.main .sub-title .text h2 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: solid 3px #000;
    color: #000;
	padding: 30px 10px 10px 260px;
    margin-bottom: 80px;
}

.main .main__box {
	padding: 100px 0;
	position: relative;
}

.main .main__box .container .container__menu {
	margin-top: 70px;
}
.main .main__box .container .container__menu img {
	display: block;
	margin: 40px auto -30px;
}

.main .main__box .container .container__menu .menu {
	font-weight: 600;
	font-family: 'Poppins', serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	justify-content: center;
}

.main .main__box .container .container__menu .menu li a {
	font-size: 18px;
	padding: 15px 35px 50px 10px;
	display: block;
	cursor: pointer;
	transition: all 0.3s ease;
	border-bottom: 10px solid transparent;
	text-decoration: none;
	color: #000;
	font-weight: 900;
	margin-bottom: -30px;
}

.main .main__box .container .container__menu .menu li a:hover {
	color: #b4975a;
}

.main .main__box .container .container__menu .menu li.active {
	color: #b4975a;
	border-bottom: 2px solid #b4975a;
}

.main .main__box .container .text {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 40px;
	border: 6px double #eaeaea;
	padding: 0 40px;
	background-color: #fff;
	/*투명도 주기-------------------------------*/
}

.main .main__box .container .text>div {
	display: none;
	transition: all 0.7s ease;
}

.main .main__box .container .text .active {
	display: block;
}

.main .main__box .container .text .item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 2.25rem 0;
	border-bottom: 1px solid #eaeaea;
}

.main .main__box .container .text .item .title.sub {
	width: 70%;
}

.main .main__box .container .text .item .title.sub h3 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 0.625rem;
}

.main .main__box .container .text .item .title.sub p {
	font-size: 1rem;
	color: #777;
}

.main .main__box .container .text .item .price {
	width: 30%;
	text-align: center;
	font-size: 1.9rem;
}


/*Items-Background*/
.product {
	width: 90%;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	margin: 30px auto;
	padding: 40px 20px;
	margin-top: 50px;
	position: relative;
	/* background-image: url("../images/accommodation/productbg.png"); */
	background-size: 1000px;
	background-position: center;
	border-radius: 20px;
}

/* items */
  
.sub-title1 .text{
    width: 20%;
  }
.sub-title1 .text h2 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: solid 3px #000;
    color: #000;
	padding: 30px 10px 10px 230px;
    margin-bottom: 80px;
}
.items__list .items {
	display: grid;
	max-width: 1100px;
	margin: auto;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 40px;
}

.items__list .items .item {
	box-shadow:
		0 5px 10px 0px rgba(0, 0, 0, .1),
		0 2px 5px 0 rgba(0, 0, 0, .2);
}

.items__list .items .item .item-img {
	width: 100%;
}

.items__list .items .item .item-img img {
	width: 100%;
	height: 250px;
}

.items__list .items .item .item-text {
	padding: 1rem;
}

.items__list .items .item .item-text h3 {
	margin-bottom: 15px;
	font-weight: 700;
}

.items__list .items .item-text p {
	line-height: 25px;
	color: var(--grey-text);
}


/*Footer*/
footer {
	background-color: rgba(0, 0, 0, 0);
	padding: 80px 0;
}

footer .inner {
	padding: 40px 0 60px 0;
}

footer .menu {
	display: flex;
	justify-content: center;
}

footer .menu li {
	position: relative;
}

footer .menu li::before {
	content: "";
	width: 3px;
	height: 3px;
	background-color: #555;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

footer .menu li a {
	color: #000;
	font-size: 12px;
	font-weight: 700;
	padding: 15px;
	display: block;
	text-decoration: none;
}

footer .menu li a.green {
	color: #669900;
}

footer .info {
	margin-top: 30px;
	text-align: center;
}

footer .info span {
	margin-right: 20px;
	color: #999;
	font-size: 12px;
}

footer .info span:last-child {
	margin-right: 0;
}

