
/*초기화*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .4s;
  list-style: none;
  font-family: Arial, sans-serif;
}

.menu a {
  text-decoration: none;
}

/* Background */
 
  .bg-img1{
    /* background-image: url("../images/index/bg1.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;
    height: 700px;
  }
  
  .bg-img2{
    /* background-image: url("../images/index/bg2.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
  } 

/*INNER*/
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}


/*Logo*/
header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.164);
  position: fixed;
  top: 0;
  z-index: 9;
}

header>.inner {
  height: 120px;
}

header .logo {
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  margin: auto;
  text-decoration-line: none;
}

header .logo img {
  height: 110px;
}

/* Sub-Menu*/
header .sub-menu {
  position: absolute;
  top: 0px;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  padding: 11px 16px;
  display: block;
  font-size: 13px;
  color: #000;
}

header .sub-menu ul.menu li a:hover {
  color: #fff;
}

/* Search-icon*/
header .sub-menu .search {
  position: relative;
  height: 42px;
  padding-top: 5px;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .6s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}



/* Main-Menu*/
header .main-menu {
  position: absolute;
  bottom: -20px;
  right: 20px;
  display: flex;
}

header .main-menu .item a {
  text-decoration: none;
}

header .main-menu .item .item__name {
  padding: 20px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

/* Card */
.home-bg {
  background-size: 100% 100%;
  height: 100vh;
  color: #fff;
  position: relative;
}

.home .home-caption {
  position: relative;
  top: 97%;
  transform: translateY(-50%);
}

.home h1 {
  font-size: 75px;
  font-weight: 700;
}

.img-text {
  position: absolute;
  top: 100px;
  right: 80px;
  width: 800px;
}


/* Slide */
.slide__container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.slide__text h2 {
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 3.6875;
  margin-bottom: 1.125rem;
  font-style: italic;
  letter-spacing: -0.02em;
}

.slide .slide__list {
  background: rgb(13, 15, 63);
  padding: 5.625rem 0;
}

.slide .slide__list .slide__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.slide .slide__list .slide__container .col {
  width: 50%;
}

.slide .slide__list .slide__container .col.img {
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.slide .slide__list .slide__container .col .slide__text {
  padding: 3.125rem;
  padding-right: 0;
}

.slide .slide__list .slide__container .col .slide__text h2 {
  color: #fff;
}

.slide .slide__list .slide__container .col .slide__text p {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 1.125rem;
  font-size: 1.125rem;
  line-height: 1.75;
}

.slide .slide__list .slide__container .col .slider {
  width: 300%;
  display: flex;
}

.slide .slide__list .slide__container .col .slider .slide {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
}



/* Gallery */
.gallery .wrapper {
  background-color: rgba(3, 8, 20, 0.973);
  position: relative;
  padding-bottom: 100px;
}

.gallery .text {
  width: 20%;
}

.gallery .text h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: solid 3px #fff;
  color: #fff;
  padding: 100px 10px 10px 125px;
  margin-bottom: 80px;
}

.gallery .photo-grid {
  display: grid;
  max-width: 1100px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.gallery .photo-grid .photo:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1 / 3;
}

.gallery .photo-grid .photo:nth-child(4) {
  grid-column: 2/4;
  grid-row: 3 / 5;
}

.gallery .photo-grid .photo:nth-child(7) {
  grid-column: 1/3;
  grid-row: 5 /7;
}

.gallery .photo-grid .photo img {
  width: 100%;
  height: 100%;
}

/*Footer*/
.ftbg{
  padding: 80px 0;
  background-color: rgba(3, 8, 20, 0.973);
}
footer #inner{
  padding: 40px 0 60px 0;
}
footer #menu{
  display: flex;
  justify-content: center;
}
footer #menu li{
  position: relative;
}
footer #menu li::before{
  content: "";
  width: 3px;
  height: 3px;
  background-color: #fff;
  position: absolute; 
  top: 0;
  bottom: 0;
  margin: auto;
}
footer #menu li a{
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;      
  display: block;
}
footer #menu li a.green{
  color: #669900;
}

footer #info{
  margin-top: 30px;
  text-align: center;
}
footer #info span{
  margin-right: 20px;
  color: #ccc;
  font-size: 12px;
}
footer #info span:last-child{
  margin-right: 0;
}


/* Small */
@media(max-width: 768px) {

  footer .menu li a {
      font-size: 5px;
  }
  .slide__container {
    width: 90%;
    height: 100%;
  }
  .slide__container h2{
    font-size: 100px;
  }
  .wrapper .text{
    width: 20%;
  }
  .photo-grid{
    width: 60%;
    padding: 0 20px;
  }
}

/* Medium */
@media(max-width:992px) {
  header .inner{
      margin-left: -20px;
  }
  .home img{
    width: 60%;
    position: absolute;
    right: 0px;
    top: 150px;
  }
  .slide__container {
    width: 95%;
    height: 100%;
  }
  .slide__container h2{
    font-size: 40px;
  }
  .wrapper .text{
    width: 10%;
  }
  .photo-grid{
    width: 80%;
    padding: 0 20px;
  }
}

/* Large */
@media(max-width: 1200px) {
  .inner {
      width: 100%;
  }
  .home img{
    width: 50%;
    position: absolute;
    right: 0px;
    top: 150px;
  }

  .photo-grid{
    width: 100%;
  }
}
