
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all .4s;
}

h1 {
    font-size: 50px;
}

body {
    font-family: 'Oswald', 'Roboto', sans-serif;
    counter-reset: my-sec-counter;
}

img {
    max-width: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

a {
    text-decoration: none;
    color: #303133;
    transition: all 0.3s ease;
}

/* Small */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/*INNER*/
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

/*Logo & Menu*/
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    position: fixed;
    top: 0;
    z-index: 9;
}

header>.inner {
    height: 120px;
}

header .logo {
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
    text-decoration-line: none;
}

header .logo img {
    height: 110px;
}

header .sub-menu {
    position: absolute;
    top: 0px;
    right: 0;
    display: flex;
}

header .sub-menu ul.menu {
    display: flex;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    padding: 11px 16px;
    display: block;
    font-size: 13px;
    color: #000;
}

header .sub-menu ul.menu li a:hover {
    color: #fff;
}

/* Search-icon*/
header .sub-menu .search {
    position: relative;
    height: 42px;
    padding-top: 5px;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .6s;
}

header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}

header .sub-menu .search.focused .material-icons {
    opacity: 0;
}

header .main-menu {
    position: absolute;
    bottom: -20px;
    right: 20px;
    display: flex;
}

header .main-menu .item a {
    text-decoration: none;
}

header .main-menu .item .item__name {
    padding: 20px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}



/* Start Blog */
.blog {
    padding-top: 180px;
    padding-bottom: 100px;
}

.blog .container .title {
    text-align: center;

}

.blog .container h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;

    
}

.blog .container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    box-shadow:

}

.blog .container .boxs .box {
    background: #FFF;
    border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-shadow:
    0 5px 10px 0px rgba(0, 0, 0, .1),
    0 2px 5px 0 rgba(0, 0, 0, .3);
}

.blog .container .boxs .box .image {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.blog .container .boxs .box .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.178);
    opacity: 0;
    transition: .3s;
    transition: .3s;
    z-index: 2;
}

.blog .container .boxs .box:hover .image::before {
    opacity: 1;
}

.blog .container .boxs .box .image::after {
    content: "New";
    position: absolute;
    padding: 10px 20px;
    background: #000;
    bottom: 10px;
    left: -100px;
    color: #FFF;
    border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 4;
    transition: .3s;
    transition: .3s;
}

.blog .container .boxs .box:hover .image::after {
    left: 20px;
}

.blog .container .boxs .box .image img {
    transition: .3s;
    transition: .3s;
}

.blog .container .boxs .box:hover img {
    transform: scale(1.1);
    transform: scale(1.1);
}

.blog .container .boxs .box h3 {
    margin: 20px 0;
    font-size: 26px;
    font-weight: 500;
    transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.blog .container .boxs .box:hover h3 {
    color: #C7A17A;
}

.blog .container .boxs .box p:last-of-type {
    color: #C7A17A;
    margin: 20px 0;
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
}

.blog .container .boxs .box p:last-of-type::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    background: rgb(243, 242, 242);
}


.blog .container .boxs .box .comment span {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: rgb(139, 138, 138);
    cursor: pointer;

}

.blog .container .boxs .box .comment span i {
    color: #C7A17A;
}

.blog .container a {
    display: block;
    width: fit-content;
    border: 2px solid #ccc;
    margin: auto;
    margin-top: 40px;
    padding: 20px 30px;
    color: #000;
    font-weight: bold;
    padding: 17px 29px;
    transition: 3s;
    transition: 3s;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.blog .container a:hover {
    color: #FFF;
    background: #C7A17A;
    border-color: #C7A17A;
}


/* 제목 이미지 */
.sub-title .text {
    width: 50%;
}

.sub-title .text h2 {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: solid 2px #000;
    border-width: 30%;
    width: 60%;
    color: #fff;
    padding: 100px 50px 10px 200px;
    margin-bottom: 80px;
}

/*Footer*/
footer {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 40px;
}

footer .inner {
    padding: 40px 0 60px 0;
}

footer .menu {
    display: flex;
    justify-content: center;
}

footer .menu li {
    position: relative;
}

footer .menu li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

footer .menu li a {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    display: block;
    text-decoration: none;
}

footer .menu li a.green {
    color: #669900;
}

footer .info {
    margin-top: 30px;
    text-align: center;
}

footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}

footer .info span:last-child {
    margin-right: 0;
}

@media(max-width: 320px) {
    .container {
        width: 300px;
    }    

}
/* Small */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }    
}

/* Medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }

}

/* Large */
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }

}